<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Settings autocheck="false" autostart="false" interval="2000">
  <UpdateInfo description="New" key=""/>
  <UpdateInfo description="New" key=""/>
  <UpdateInfo description="New" key="">
    <PathInfo>
      <LocalPath>C:\Users\SA_Admin\Desktop\drag-and-drop-list-item-in-list-view-master</LocalPath>
      <ExternalPath>Users\SA_Admin\Desktop\test2</ExternalPath>
    </PathInfo>
  </UpdateInfo>
  <UpdateInfo description="Newredfgdf" key="98049ed9-106f-4d1c-aa02-f5d53ecf9536">
    <PathInfo>
      <LocalPath>C:\Users\SA_Admin\Desktop\Neuer Ordner</LocalPath>
      <ExternalPath>Users\SA_Admin\Desktop\test</ExternalPath>
    </PathInfo>
    <PathInfo>
      <LocalPath>C:\Users\SA_Admin\Desktop\drag-and-drop-list-item-in-list-view-master</LocalPath>
      <ExternalPath>Users\SA_Admin\Desktop\test</ExternalPath>
    </PathInfo>
    <PathInfo>
      <LocalPath>C:\Users\SA_Admin\Desktop\sonarqube-6.2</LocalPath>
      <ExternalPath>Users\SA_Admin\Desktop\test</ExternalPath>
    </PathInfo>
    <PathInfo>
      <LocalPath>C:\Users\SA_Admin\Desktop\DragNDrop</LocalPath>
      <ExternalPath>Users\SA_Admin\Desktop\test</ExternalPath>
    </PathInfo>
  </UpdateInfo>
</Settings>
