<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Settings autocheck="true" autostart="false" interval="2000">
  <UpdateInfo description="New" key="867d307b-ae31-4884-a7bf-3fb671111730">
    <PathInfo>
      <LocalPath>C:\Users\Chris\Desktop\Avenged_Sevenfold--Hail_to_the_King-REPACK-2013-OMA</LocalPath>
      <ExternalPath>test</ExternalPath>
    </PathInfo>
  </UpdateInfo>
</Settings>
